/* Variables */
$font: 'Oswald', 'Helvetica', sans-serif;
$dark-grey: #323232;
$light-grey: #f0f0f0;
$blue: #0000FF;
/* global styles */
html, body, .all {
  height: 100%;
}
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
.left {
  float: right;
}
.all {
    font-family: $font;
    min-height: 100%;
    background: url('../img/XyloCraft_Background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

/* header styles */
.navigation {
    text-transform: uppercase;
    display: inline;

    li {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.headerImg {
  width: 100%;
}

/* footer style*/
.footer {
  background-color: $dark-grey;
  color: $light-grey;
  opacity: .6;
  height: 55px;
  font-size: 12px;
  margin-top: 20px;

  .col-md-2 {
    img{
      margin-top: 10px;
      width: 30px;
      height: 30px;
      display: inline;
    }
  }

  .col-md-3 {
    p{
      margin-top: 18px;
      display: inline;
    }
  }
}
@keyframes opacity {
    from {opacity: .6;}
    to {opacity: 1;}
}
.footer:hover {
  animation-name: opacity;
  animation-duration: 1s;
  opacity: 1;
}


/*style for staff/index.html */
.midstaff p {
    color: $blue;
}
.table {
    background-color: $light-grey;
    margin-bottom:  0px;

    img {
      width: 50px;
      height: 50px;
    }
}
td textarea {
    resize: none;
}
#addTableBtn,  #saveTableBtn{
  margin-bottom: 20px;
  width: 100%;
}
#staffTable > tbody > tr > td > img {
  border-radius: 10%;
}

/*style for custom alert box */
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px;
	width:550px;
	z-index: 10;
}
#dialogbox > div {
  background:#FFF; margin:8px;
  #dialogboxhead{
    background: #666; font-size:19px; padding:10px; color:#CCC;
  }
  #dialogboxbody{
    background: #333; padding:20px; color:#FFF;
  }
  #dialogboxfoot{
    background: #666; padding:10px; text-align:right;
  }
}
