/* Variables */
$font: 'Oswald', 'Helvetica', sans-serif;
$dark-grey: #323232;
$backgroundColor: #1b1b1b;
$light-grey: #f0f0f0;
$blue: #0000FF;
/* global styles */
body {
  background-color: $backgroundColor;
  .all {
      font-family: $font;
      color: #FFFFFF;
      min-height: 100%;
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
  }
}
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
.left {
  float: right;
}

/* header styles */
.navigation {
    text-transform: uppercase;
    display: inline;

    li {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.headerImg {
  width: 100%;
}

/* footer style*/
.footer {
  background-color: $dark-grey;
  color: $light-grey;
  height: 55px;
  font-size: 12px;
  margin-top: 20px;

  img{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    display: inline;
  }

  p{
    margin-top: 18px;
    display: inline;
  }
}
/*style for speltypes/index.html */
.imgOpacity {
  opacity: 0.5;
  transform: skewY(-5deg);
}
@keyframes opacity {
    from {opacity: 0.5;}
    to {opacity: 1;}
}
.imgOpacity:hover {
  animation-name: opacity;
  animation-duration: 0.5s;
  opacity: 1;
}
/*style for staff/index.html */
.midstaff p {
    color: $blue;
}
.table {
    color: $backgroundColor;
    background-color: $light-grey;
    margin-bottom:  0px;

    img {
      width: 50px;
      height: 50px;
    }
}
td textarea {
    resize: none;
}
#addTableBtn,  #saveTableBtn{
  margin-bottom: 20px;
  width: 100%;
}
#staffTable > tbody > tr > td > img {
  border-radius: 10%;
}

/*style for custom alert box */
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px;
	width:550px;
	z-index: 10;
}
#dialogbox > div {
  background:#FFF; margin:8px;
  #dialogboxhead{
    background: #666; font-size:19px; padding:10px; color:#CCC;
  }
  #dialogboxbody{
    background: #333; padding:20px; color:#FFF;
  }
  #dialogboxfoot{
    background: #666; padding:10px; text-align:right;
  }
}
/* footer styles */
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}
