/* Variables */
/* global styles */
body {
  background-color: #1b1b1b; }
  body .all {
    font-family: "Oswald", "Helvetica", sans-serif;
    color: #FFFFFF;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }

.left {
  float: right; }

/* header styles */
.navigation {
  text-transform: uppercase;
  display: inline; }
  .navigation li {
    padding-left: 20px;
    padding-right: 20px; }

.headerImg {
  width: 100%; }

/* footer style*/
.footer {
  background-color: #323232;
  color: #f0f0f0;
  height: 55px;
  font-size: 12px;
  margin-top: 20px; }
  .footer img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    display: inline; }
  .footer p {
    margin-top: 18px;
    display: inline; }

/*style for speltypes/index.html */
.imgOpacity {
  opacity: 0.5;
  transform: skewY(-5deg); }

@keyframes opacity {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }

.imgOpacity:hover {
  animation-name: opacity;
  animation-duration: 0.5s;
  opacity: 1; }

/*style for staff/index.html */
.midstaff p {
  color: #0000FF; }

.table {
  color: #1b1b1b;
  background-color: #f0f0f0;
  margin-bottom: 0px; }
  .table img {
    width: 50px;
    height: 50px; }

td textarea {
  resize: none; }

#addTableBtn, #saveTableBtn {
  margin-bottom: 20px;
  width: 100%; }

#staffTable > tbody > tr > td > img {
  border-radius: 10%; }

/*style for custom alert box */
#dialogoverlay {
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10; }

#dialogbox {
  display: none;
  position: fixed;
  background: #000;
  border-radius: 7px;
  width: 550px;
  z-index: 10; }

#dialogbox > div {
  background: #FFF;
  margin: 8px; }
  #dialogbox > div #dialogboxhead {
    background: #666;
    font-size: 19px;
    padding: 10px;
    color: #CCC; }
  #dialogbox > div #dialogboxbody {
    background: #333;
    padding: 20px;
    color: #FFF; }
  #dialogbox > div #dialogboxfoot {
    background: #666;
    padding: 10px;
    text-align: right; }
